<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <!-- EJS Code Examples//Dynamic Content Rendering -->
    <h3> <%= 1+2 %> </h3>
    <h3> <%= "Madhu Yadav".toUpperCase() %></h3>
    <h2> <%= ["hello", "bonjour", "namaste"][0] %></h2>
    <h2> <%= Math.random() %> </h2>
    
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique modi nesciunt sapiente sit suscipit doloribus neque, sunt, ducimus facilis delectus autem possimus assumenda debitis! Consequatur totam aperiam quo veniam esse!
        Blanditiis iste, neque aut ipsa numquam consequuntur perspiciatis officia doloribus, cupiditate eos quo minus suscipit accusantium voluptatem provident quisquam expedita pariatur voluptates! Non asperiores soluta tempora corporis vero dolores facere.
        Est voluptatum, nemo molestiae libero obcaecati dicta totam quo a beatae facilis dolore sunt quasi provident fugiat? Officia praesentium consequatur vero dicta incidunt molestiae distinctio. Inventore sapiente soluta porro blanditiis.
        Ducimus, optio necessitatibus! Necessitatibus amet ducimus facilis, magni libero iure neque! Doloremque eum amet nisi error nesciunt, repellendus ex, deserunt culpa quaerat ipsum saepe, suscipit ullam! Adipisci minima ad illum!
    </p>
    <button>click me!</button>
</body>
</html>